.cmp-languagenavigation {
  @apply relative z-10;
  @apply focus:ring-2;
}
.languagenavigation {
  .cmp-languagenavigation__button {
    transition-property: border, border-radius, outline, color, background-color,
      border-color, text-decoration-color, fill, stroke, box-shadow;
    @apply border-shade-2 ring-focus rounded-none duration-300;
    @apply focus:ring-2 focus:border-background focus:ring-offset-2 focus:ring-offset-background;
  }
}

.languagenavigation.open {
  .cmp-languagenavigation__button {
    @apply bg-shade-1;

    &::after {
      @apply rotate-180;

      /* Flip upside down for mobile. As the menu goes up instead of down */
      @screen phone {
        @apply rotate-0;
      }
    }
  }

  .cmp-languagenavigation__group {
    @apply translate-y-0 opacity-100 z-50;
    visibility: visible;

    @screen phone {
      --tw-translate-y: calc(-100% - 4rem);
    }
  }
}

.cmp-languagenavigation__button {
  @apply relative w-full h-10 border-2 border-solid border-shade-1 flex-row flex justify-start items-center transition-colors duration-200 outline-none;
  @apply hover:cursor-pointer;
  @apply focus:border-focus;

  span {
    @apply flex-1 flex justify-start items-center ml-10;
  }
}

.cmp-languagenavigation__item--active .cmp-languagenavigation__item-link::after,
.cmp-languagenavigation__button::after {
  @apply block w-5 h-5 bg-no-repeat;
  content: "";
  mask-size: 1.25rem;
  mask-repeat: no-repeat;
  mask-position: right;
}

.cmp-languagenavigation__button::after {
  @apply bg-foreground transition-transform duration-200 mr-2;
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmEsLmJ7ZmlsbDojNjA3ZDhiO30uYXtvcGFjaXR5OjA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01NjUgLTgwKSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTY1IDgwKSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNLjI5MywxMy4wMjFhMSwxLDAsMCwxLDAtMS40MTRsNC45NS00Ljk1TC4yOTMsMS43MDdBMSwxLDAsMCwxLDEuNzA3LjI5M0w3LjM2NCw1Ljk1YTEsMSwwLDAsMSwwLDEuNDE1TDEuNzA3LDEzLjAyMWExLDEsMCwwLDEtMS40MTUsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU4My44MjkgODguMTcxKSByb3RhdGUoOTApIi8+PC9nPjwvc3ZnPg==");
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmEsLmJ7ZmlsbDojNjA3ZDhiO30uYXtvcGFjaXR5OjA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01NjUgLTgwKSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTY1IDgwKSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNLjI5MywxMy4wMjFhMSwxLDAsMCwxLDAtMS40MTRsNC45NS00Ljk1TC4yOTMsMS43MDdBMSwxLDAsMCwxLDEuNzA3LjI5M0w3LjM2NCw1Ljk1YTEsMSwwLDAsMSwwLDEuNDE1TDEuNzA3LDEzLjAyMWExLDEsMCwwLDEtMS40MTUsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU4My44MjkgODguMTcxKSByb3RhdGUoOTApIi8+PC9nPjwvc3ZnPg==");

  /* Flip upside down for mobile. As the menu goes up instead of down */
  @screen phone {
    @apply rotate-180;
  }
}

.cmp-languagenavigation__group {
  @apply absolute w-full bg-transparent border-none mt-2 delay-75 opacity-0 -translate-y-2;
  transition: transform 250ms, opacity 100ms, visibility 50ms;
  visibility: collapse;
  > .cmp-languagenavigation__item {
    @apply border-b-1 border-shade-5;

    &:last-child {
      @apply border-b-0;
    }
  }
}

.cmp-languagenavigation__item {
  @apply flex flex-row gap-x-2 flex-1 items-center;

  &:not(.cmp-languagenavigation__item--active):hover {
    @apply cursor-pointer;
  }

  &--active {
    @apply bg-accent font-medium;
  }
}

span[class^="cmp-languagenavigation__item--langcode"]::before,
.cmp-languagenavigation__item::before {
  @apply inline-flex w-4 h-4 bg-no-repeat shrink-0 absolute left-3 z-20;
  content: "";
  background-size: 18px 18px;
}

.cmp-languagenavigation__item--langcode-en::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZjBmMGYwO30uYntmaWxsOiNkODAwMjc7fS5je2ZpbGw6IzAwNTJiNDt9PC9zdHlsZT48L2RlZnM+PGNpcmNsZSBjbGFzcz0iYSIgY3g9IjEyIiBjeT0iMTIiIHI9IjEyIi8+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC40MTMgMi42MDkpIj48cGF0aCBjbGFzcz0iYiIgZD0iTTI0NC44NywxOTIuMzQ3aDEyLjUyMmExMi4wMTMsMTIuMDEzLDAsMCwwLS40MTMtMy4xM0gyNDQuODdaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjMzLjgwNSAtMTgyLjk1NikiLz48cGF0aCBjbGFzcz0iYiIgZD0iTTI0NC44Nyw1OC43ODJoMTAuNzZhMTIuMDYzLDEyLjA2MywwLDAsMC0yLjc2OS0zLjEzSDI0NC44N1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzMuODA1IC01NS42NTIpIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0xMDQuMTE0LDQ1OC45NTdhMTEuOTQ4LDExLjk0OCwwLDAsMCw3LjQ3LTIuNjA5SDk2LjY0NEExMS45NDgsMTEuOTQ4LDAsMCwwLDEwNC4xMTQsNDU4Ljk1N1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05Mi41MjcgLTQzNy41NjUpIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0xMC4xNjcsMzI1LjkxMkgzMC42NDRhMTEuOTI4LDExLjkyOCwwLDAsMCwxLjM0OC0zLjEzSDguODE5QTExLjkyOCwxMS45MjgsMCwwLDAsMTAuMTY3LDMyNS45MTJaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtOC44MTkgLTMxMC4yNikiLz48L2c+PHBhdGggY2xhc3M9ImMiIGQ9Ik01LjU1OSwxLjg3NEg2LjY1MmwtMS4wMTcuNzM5LjM4OSwxLjJMNS4wMDYsMy4wN2wtMS4wMTcuNzM5LjMzNi0xLjAzM0ExMi4wNjYsMTIuMDY2LDAsMCwwLDIsNS4zN2guMzVMMS43LDUuODRxLS4xNTEuMjUyLS4yOS41MTNsLjMwOS45NTItLjU3Ny0uNDE5cS0uMjE1LjQ1Ni0uMzkyLjkzMmwuMzQxLDEuMDQ5SDIuMzQ4TDEuMzMxLDkuNmwuMzg5LDEuMkwuNywxMC4wNjEuMDkzLDEwLjVBMTIuMTE2LDEyLjExNiwwLDAsMCwwLDEySDEyVjBBMTEuOTQzLDExLjk0MywwLDAsMCw1LjU1OSwxLjg3NFpNNi4wMjQsMTAuOGwtMS4wMTctLjczOUwzLjk4OSwxMC44bC4zODktMS4yTDMuMzYxLDguODY1SDQuNjE4bC4zODktMS4yLjM4OCwxLjJINi42NTJMNS42MzUsOS42Wk01LjYzNSw2LjEwOWwuMzg5LDEuMkw1LjAwNiw2LjU2NSwzLjk4OSw3LjNsLjM4OS0xLjJMMy4zNjEsNS4zN0g0LjYxOGwuMzg5LTEuMi4zODksMS4ySDYuNjUyWk0xMC4zMjgsMTAuOGwtMS4wMTctLjczOUw4LjI5NCwxMC44bC4zODktMS4yTDcuNjY1LDguODY1SDguOTIybC4zODgtMS4yLjM4OSwxLjJoMS4yNTdMOS45MzksOS42Wk05LjkzOSw2LjEwOWwuMzg5LDEuMkw5LjMxMSw2LjU2NSw4LjI5NCw3LjNsLjM4OS0xLjJMNy42NjUsNS4zN0g4LjkyMmwuMzg4LTEuMkw5LjcsNS4zN2gxLjI1N1ptMC0zLjUuMzg5LDEuMkw5LjMxMSwzLjA3bC0xLjAxNy43MzkuMzg5LTEuMkw3LjY2NSwxLjg3NEg4LjkyMmwuMzg4LTEuMi4zODksMS4yaDEuMjU3WiIvPjwvc3ZnPg==");
}
.cmp-languagenavigation__item--langcode-fr::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZjBmMGYwO30uYntmaWxsOiNkODAwMjc7fS5je2ZpbGw6IzAwNTJiNDt9PC9zdHlsZT48L2RlZnM+PGNpcmNsZSBjbGFzcz0iYSIgY3g9IjEyIiBjeT0iMTIiIHI9IjEyIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0zNTIuODY5LDI3LjE3N2ExMiwxMiwwLDAsMC03LjgyNi0xMS4yNTRWMzguNDNBMTIsMTIsMCwwLDAsMzUyLjg2OSwyNy4xNzdaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzI4Ljg2OSAtMTUuMTc3KSIvPjxwYXRoIGNsYXNzPSJjIiBkPSJNMCwyNy4xNzdBMTIsMTIsMCwwLDAsNy44MjYsMzguNDNWMTUuOTIzQTEyLDEyLDAsMCwwLDAsMjcuMTc3WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMTUuMTc3KSIvPjwvc3ZnPg==");
}
.cmp-languagenavigation__item--langcode-de::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZmZkYTQ0O30uYntmaWxsOiNkODAwMjc7fTwvc3R5bGU+PC9kZWZzPjxwYXRoIGNsYXNzPSJhIiBkPSJNMTUuOTIzLDMyMy44MjZhMTIsMTIsMCwwLDAsMjIuNTA3LDBsLTExLjI1NC0xLjA0M1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNS4xNzcgLTMwNy42NTMpIi8+PHBhdGggZD0iTTI3LjE3NywwQTEyLDEyLDAsMCwwLDE1LjkyMyw3LjgyNkwyNy4xNzcsOC44NywzOC40Myw3LjgyNkExMiwxMiwwLDAsMCwyNy4xNzcsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNS4xNzcpIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0uNzQ2LDE2Ni45NTdhMTIuMDQ0LDEyLjA0NCwwLDAsMCwwLDguMzQ4SDIzLjI1NGExMi4wNDQsMTIuMDQ0LDAsMCwwLDAtOC4zNDhaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0xNTkuMTMxKSIvPjwvc3ZnPg==");
}
.cmp-languagenavigation__item--langcode-it::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZjBmMGYwO30uYntmaWxsOiNkODAwMjc7fS5je2ZpbGw6IzZkYTU0NDt9PC9zdHlsZT48L2RlZnM+PGNpcmNsZSBjbGFzcz0iYSIgY3g9IjEyIiBjeT0iMTIiIHI9IjEyIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0zNTIuODY5LDI3LjE3N2ExMiwxMiwwLDAsMC03LjgyNi0xMS4yNTRWMzguNDNBMTIsMTIsMCwwLDAsMzUyLjg2OSwyNy4xNzdaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzI4Ljg2OSAtMTUuMTc3KSIvPjxwYXRoIGNsYXNzPSJjIiBkPSJNMCwyNy4xNzdBMTIsMTIsMCwwLDAsNy44MjYsMzguNDNWMTUuOTIzQTEyLDEyLDAsMCwwLDAsMjcuMTc3WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMTUuMTc3KSIvPjwvc3ZnPg==");
}
.cmp-languagenavigation__item--langcode-ru::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZjBmMGYwO30uYntmaWxsOiMwMDUyYjQ7fS5je2ZpbGw6I2Q4MDAyNzt9PC9zdHlsZT48L2RlZnM+PGNpcmNsZSBjbGFzcz0iYSIgY3g9IjEyIiBjeT0iMTIiIHI9IjEyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwKSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNMjMuMjU0LDE3NS4zYTEyLjA0NCwxMi4wNDQsMCwwLDAsMC04LjM0OEguNzQ2YTEyLjA0NCwxMi4wNDQsMCwwLDAsMCw4LjM0OEwxMiwxNzYuMzQ4WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMTU5LjEzMSkiLz48cGF0aCBjbGFzcz0iYyIgZD0iTTI3LjE3NywzNTIuODY5YTEyLDEyLDAsMCwwLDExLjI1NC03LjgyNkgxNS45MjNBMTIsMTIsMCwwLDAsMjcuMTc3LDM1Mi44NjlaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTUuMTc3IC0zMjguODY5KSIvPjwvc3ZnPg==");
}
.cmp-languagenavigation__item--langcode-es::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZmZkYTQ0O30uYntmaWxsOiNkODAwMjc7fTwvc3R5bGU+PC9kZWZzPjxwYXRoIGNsYXNzPSJhIiBkPSJNMCwxNDkuOTEzYTExLjk3NCwxMS45NzQsMCwwLDAsLjc0Niw0LjE3NEwxMiwxNTUuMTMxbDExLjI1NC0xLjA0M2ExMi4wNDQsMTIuMDQ0LDAsMCwwLDAtOC4zNDhMMTIsMTQ0LjcuNzQ2LDE0NS43MzlBMTEuOTc0LDExLjk3NCwwLDAsMCwwLDE0OS45MTNaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0xMzcuOTEzKSIvPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuNzQ2KSI+PHBhdGggY2xhc3M9ImIiIGQ9Ik0zOC40Myw3LjgyNmExMiwxMiwwLDAsMC0yMi41MDcsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNS45MjMpIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0xNS45MjMsMzQ1LjA0M2ExMiwxMiwwLDAsMCwyMi41MDcsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNS45MjMgLTMyOC44NjkpIi8+PC9nPjwvc3ZnPg==");
}
.cmp-languagenavigation__item--langcode-da::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZjBmMGYwO30uYntmaWxsOiNkODAwMjc7fTwvc3R5bGU+PC9kZWZzPjxjaXJjbGUgY2xhc3M9ImEiIGN4PSIxMiIgY3k9IjEyIiByPSIxMiIvPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuMTAyKSI+PHBhdGggY2xhc3M9ImIiIGQ9Ik0yMDAuMzQ4LDEwLjQzNWgxNC41MDdBMTIuMDA5LDEyLjAwOSwwLDAsMCwyMDAuMzQ4LjI4NXYxMC4xNWgwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE5MS4wNTgpIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik04LjMyNiw0MC4xVjMxLjEyN0ExMi4wMDgsMTIuMDA4LDAsMCwwLDIuMTY3LDQwLjFIOC4zMjZaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMi4xNjcgLTI5LjY2OCkiLz48cGF0aCBjbGFzcz0iYiIgZD0iTTguMzI2LDI4OS4zOTFIMi4xNjdhMTIuMDA3LDEyLjAwNywwLDAsMCw2LjE1OSw4Ljk3NnYtOC45NzZaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMi4xNjcgLTI3NS44MjYpIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0yMDAuMzQ4LDI4OS4zOTF2MTAuMTVhMTIuMDA5LDEyLjAwOSwwLDAsMCwxNC41MDctMTAuMTVIMjAwLjM0OFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xOTEuMDU4IC0yNzUuODI2KSIvPjwvZz48L3N2Zz4=");
}
.cmp-languagenavigation__item--langcode-ga::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZjBmMGYwO30uYntmaWxsOiNmZjk4MTE7fS5je2ZpbGw6IzZkYTU0NDt9PC9zdHlsZT48L2RlZnM+PGNpcmNsZSBjbGFzcz0iYSIgY3g9IjEyIiBjeT0iMTIiIHI9IjEyIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0zNTIuODY5LDI3LjE3OGExMiwxMiwwLDAsMC03LjgyNi0xMS4yNTRWMzguNDMxQTEyLDEyLDAsMCwwLDM1Mi44NjksMjcuMTc4WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMyOC44NjkgLTE1LjE3OCkiLz48cGF0aCBjbGFzcz0iYyIgZD0iTTAsMjcuMTc4QTEyLDEyLDAsMCwwLDcuODI2LDM4LjQzMVYxNS45MjRBMTIsMTIsMCwwLDAsMCwyNy4xNzhaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0xNS4xNzgpIi8+PC9zdmc+");
}
.cmp-languagenavigation__item--langcode-pt::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojNmRhNTQ0O30uYntmaWxsOiNkODAwMjc7fS5je2ZpbGw6I2ZmZGE0NDt9LmR7ZmlsbDojZjBmMGYwO308L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iYSIgZD0iTTAsMjcuMTc3QTEyLDEyLDAsMCwwLDcuODI2LDM4LjQzTDguODcsMjcuMTc3LDcuODI2LDE1LjkyM0ExMiwxMiwwLDAsMCwwLDI3LjE3N1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTE1LjE3NykiLz48cGF0aCBjbGFzcz0iYiIgZD0iTTE4My4xMjksMTJBMTIuMDA3LDEyLjAwNywwLDAsMCwxNjYuOTU1Ljc0NlYyMy4yNTRBMTIuMDA3LDEyLjAwNywwLDAsMCwxODMuMTI5LDEyWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE1OS4xMjkpIi8+PGNpcmNsZSBjbGFzcz0iYyIgY3g9IjQuMTc0IiBjeT0iNC4xNzQiIHI9IjQuMTc0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzLjY1MiA3LjgyNikiLz48cGF0aCBjbGFzcz0iYiIgZD0iTTExNi44NywyMTEuNDc4djIuNjA5YTIuMzQ4LDIuMzQ4LDAsMSwwLDQuNywwdi0yLjYwOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMTEuMzkyIC0yMDEuNTY1KSIvPjxwYXRoIGNsYXNzPSJkIiBkPSJNMTUxLjA0NCwyNDYuN2EuNzg0Ljc4NCwwLDAsMS0uNzgzLS43ODNWMjQ0Ljg3aDEuNTY1djEuMDQzQS43ODMuNzgzLDAsMCwxLDE1MS4wNDQsMjQ2LjdaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTQzLjIxOCAtMjMzLjM5MikiLz48L3N2Zz4=");
}
.cmp-languagenavigation__item--langcode-ro::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZmZkYTQ0O30uYntmaWxsOiNkODAwMjc7fS5je2ZpbGw6IzAwNTJiNDt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xNTQuMDg3Ljc0NmExMi4wNDQsMTIuMDQ0LDAsMCwwLTguMzQ4LDBMMTQ0LjcsMTJsMS4wNDMsMTEuMjU0YTEyLjA0MywxMi4wNDMsMCwwLDAsOC4zNDgsMEwxNTUuMTMxLDEyWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEzNy45MTMpIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0zNTIuODY5LDI3LjE3N2ExMiwxMiwwLDAsMC03LjgyNi0xMS4yNTRWMzguNDNBMTIsMTIsMCwwLDAsMzUyLjg2OSwyNy4xNzdaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzI4Ljg2OSAtMTUuMTc3KSIvPjxwYXRoIGNsYXNzPSJjIiBkPSJNMCwyNy4xNzhBMTIsMTIsMCwwLDAsNy44MjYsMzguNDMxVjE1LjkyNEExMiwxMiwwLDAsMCwwLDI3LjE3OFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTE1LjE3OCkiLz48L3N2Zz4=");
}
.cmp-languagenavigation__item--langcode-sv::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZmZkYTQ0O30uYntmaWxsOiMwMDUyYjQ7fTwvc3R5bGU+PC9kZWZzPjxjaXJjbGUgY2xhc3M9ImEiIGN4PSIxMiIgY3k9IjEyIiByPSIxMiIvPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuMTAyKSI+PHBhdGggY2xhc3M9ImIiIGQ9Ik0yMDAuMzQ4LDEwLjQzNWgxNC41MDdBMTIuMDA5LDEyLjAwOSwwLDAsMCwyMDAuMzQ4LjI4NXYxMC4xNWgwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE5MS4wNTgpIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik04LjMyNiw0MC4xVjMxLjEyN0ExMi4wMDcsMTIuMDA3LDAsMCwwLDIuMTY3LDQwLjFIOC4zMjZaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMi4xNjcgLTI5LjY2OCkiLz48cGF0aCBjbGFzcz0iYiIgZD0iTTguMzI2LDI4OS4zOTFIMi4xNjdhMTIuMDA3LDEyLjAwNywwLDAsMCw2LjE1OSw4Ljk3NnYtOC45NzZaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMi4xNjcgLTI3NS44MjYpIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0yMDAuMzQ4LDI4OS4zOTF2MTAuMTVhMTIuMDA5LDEyLjAwOSwwLDAsMCwxNC41MDctMTAuMTVIMjAwLjM0OFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xOTEuMDU4IC0yNzUuODI2KSIvPjwvZz48L3N2Zz4=");
}
.cmp-languagenavigation__item--langcode-tr {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZDgwMDI3O30uYntmaWxsOiNmMGYwZjA7fTwvc3R5bGU+PC9kZWZzPjxjaXJjbGUgY2xhc3M9ImEiIGN4PSIxMiIgY3k9IjEyIiByPSIxMiIvPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMuMzQzIDcuODI2KSI+PHBhdGggY2xhc3M9ImIiIGQ9Ik0yMTMuMDc0LDIwOS4xODZsLjk4NSwxLjM1NywxLjU5NS0uNTE3LS45ODYsMS4zNTYuOTg0LDEuMzU3LTEuNTk0LS41MTktLjk4NiwxLjM1NlYyMTEuOWwtMS41OTQtLjUxOSwxLjU5NS0uNTE3WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIwNC45MDggLTIwNy4yMDYpIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik03Ni44LDE3NC41MjFhMy4zOTEsMy4zOTEsMCwxLDEsMS42MTMtNi4zNzUsNC4xNzQsNC4xNzQsMCwxLDAsMCw1Ljk2N0EzLjM3NSwzLjM3NSwwLDAsMSw3Ni44LDE3NC41MjFaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNzEuMzI1IC0xNjYuOTU2KSIvPjwvZz48L3N2Zz4=");
}

.cmp-languagenavigation__item-link {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @apply text-foreground outline-none relative flex-1 flex flex-row justify-between items-center py-2 pl-8 pr-1 font-medium bg-background border-0 duration-300;
  @apply hover:underline hover:bg-accent;
  @apply focus:bg-accent focus:border-0 focus:outline-none focus:ring-2 focus:rounded-none focus:ring-offset-0 focus:z-10;
  /* &:first-of-type {
    @apply border-t-0;
  } */
}

.cmp-languagenavigation__item--active .cmp-languagenavigation__item-link {
  @apply text-foreground bg-accent underline;

  &::after {
    @apply bg-foreground;
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmEsLmJ7ZmlsbDojMjY4ZTZjO30uYXtvcGFjaXR5OjA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC03MDMgLTgwKSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzAzIDgwKSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNNC45MzIsMjY5LjlhMSwxLDAsMCwxLS44NjQtLjQ2N0wuNzA3LDI2Ni4wNzJhMSwxLDAsMSwxLDEuNDE0LTEuNDE1bDIuODExLDIuODExLDcuNzYxLTcuNzYxYTEsMSwwLDEsMSwxLjQxNCwxLjQxNUw1LjgsMjY5LjQzMmExLDEsMCwwLDEtLjg0Ny40NjhaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MDcuNTg2IC0xNzIuNjU3KSIvPjwvZz48L3N2Zz4=");
  }
}
