.cmp-text {
  @apply prose max-w-none;
  @apply dark:prose-invert;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      font-weight: unset;
    }
  }

  a {
    @apply hover:underline;
    @apply focus:rounded-none focus:ring-2 focus:ring-focus focus:outline-none focus:ring-offset-2 focus:ring-offset-background;
  }

  tbody th:first-child,
  tbody td:first-child {
    @apply pl-2;
  }
}
