/* XF Header style, used on page template */
#main-header-wrapper {
  @apply z-10 border-b-2 border-solid border-shade-1;

  @screen phone {
    & > .aem-Grid {
      @apply px-0;
    }
  }

  /* 
   * Fixes mobile webkit issue with 100vh and the browser bar 
   * covering the language navigation dropdown 
  */
  &.open {
    @apply fixed inset-0 mb-0;

    & > .aem-Grid {
      @apply h-full;
    }
  }
}

#main-header {
  @apply flex h-20 items-center bg-background;

  .cmp-image {
    @apply flex h-full items-center justify-center;
  }

  & > .aem-Grid {
    @apply default:items-center;
  }
}

@screen phone {
  #main-header {
    @apply py-0;

    > .aem-Grid {
      @apply h-full justify-start gap-y-0 px-0;
      grid-template-rows: 5rem 1fr;
    }

    &.open {
      @apply h-full;

      #mobile-header {
        @apply visible translate-y-0 opacity-100;
      }

      .button .cmp-button {
        background-image: url("../../resources/images/x-icon.png");
      }
    }

    .button {
      @apply z-10 mx-4 flex h-20 w-8 items-center self-center;

      .cmp-button {
        @apply h-8 w-8 border-0 bg-transparent bg-center bg-no-repeat;
        background-image: url("../../resources/images/hamburger-menu.png");
      }
    }

    .image {
      @apply absolute inset-0 ml-0 h-20;

      .cmp-image__image {
        @apply max-h-12;
      }
    }
  }

  #mobile-header {
    @apply h-full translate-y-2 border-t-2 border-shade-1 bg-background p-4 opacity-0 delay-75;
    transition: transform 250ms, opacity 100ms, visibility 50ms;
    visibility: collapse;

    & > .aem-Grid {
      @apply h-full items-start justify-start;
      grid-template-rows: auto auto 1fr;
    }

    .navigation {
      @apply order-2;

      .cmp-navigation {
        @apply py-2;

        > .cmp-navigation__group {
          @apply flex-col gap-y-4;
        }
      }
    }

    .search {
      @apply order-1;
    }

    .languagenavigation {
      @apply order-3 self-end;
    }
  }
}

.aem-AuthorLayer-Preview.aem-Author--hidePlaceholder,
.aem-AuthorLayer-Edit {
  #main-header {
    @apply h-auto min-h-[5rem];
  }
}

@screen phone {
  .aem-AuthorLayer-Preview.aem-Author--hidePlaceholder,
  .aem-AuthorLayer-Edit {
    #main-header {
      &.open {
        @apply h-full;

        #mobile-header {
          @apply block;
        }
      }
    }

    #mobile-header {
      @apply hidden;
    }
  }
}
