.root {
  @apply pt-[125px] transition-transform duration-500;
}

.root {
  &.open {
    @apply translate-x-[275px] transition-transform duration-500;
  }
}

.header-shadow {
  @apply shadow-header;
}

#main-header-wrapper {
  @apply fixed top-0 z-10 w-full;
}

#utility-header-wrapper {
  @apply bg-foreground;

  #utility-header {
    @apply flex justify-end max-w-[1600px] mx-auto;
  }
}

#utility-header-login {
  @apply border-none bg-transparent text-background;
}

#utility-header-language {
  @apply text-background;

  .cmp-languagenavigation__button {
    @apply border-none;
  }
}

#mobile-menu-header {
  @apply bg-foreground fixed top-0 translate-x-[-275px] transition-transform duration-500 min-w-[275px] h-screen;
}

.cmp-search__field {
  @apply w-[325px];
}

#header-nav {
  @apply flex items-center h-full;

  .navigation {
    @apply pr-8;
  }
}

#mobile-menu-header  {
  .aem-Grid--default--12 {
    @apply px-0;
  }
}

#mobile-menu .cmp-navigation__group {
  @apply flex flex-col items-start pt-4 border-y-shadow;
}

#mobile-menu .cmp-navigation__group .cmp-navigation__item:not(:last-child) {
  @apply border-b-1 border-gray-700 w-full border-t-1;
}

 #mobile-menu .cmp-navigation__item .cmp-navigation__item-link {
  @apply text-background;
  @apply bg-transparent;
}

#header-max-w {
  @apply w-full bg-background;

  .aem-Grid--default--12 {
   @apply p-0 max-w-[1600px];
  }
}

.cmp-navigation__group {
  @apply text-foreground;
  @apply flex justify-end items-center;
}


#main-header-wrapper {

  &.open {
    #header-max-w {
      @apply w-full;
    }

    .aem-Grid-default--12 {
      @apply p-0 w-full;
    }

    & > .aem-Grid {
      @apply h-full;
    }
  }
}

#main-header {
  @apply p-0 my-8;
  @apply flex bg-background justify-between content-center;

  .cmp-image {
    @apply flex w-[175px] h-full items-center justify-center;
    @apply dark:hue-rotate-180;
  }

  & > .aem-Grid {
    @apply default:items-center;
  }

  .button {
    @apply hidden;
  }

}

.aem-AuthorLayer-Preview.aem-Author--hidePlaceholder,
.aem-AuthorLayer-Edit {
  #main-header {
    @apply h-auto;
  }
}

@media screen and (max-width: 1100px) {
  .root {
    @apply pt-[80px];
  }

  #utility-header {
    @apply justify-between;
  }

  #mobile-menu {
    @apply block;
  }
  #header-nav .navigation{
    @apply hidden ;
  }


  #header-nav .search {
    @apply absolute top-[50%] translate-y-[-50%] right-5;
  }

  .cmp-search__field {
    @apply w-[175px];
  }


  #header-max-w {

    >.aem-Grid--default--12 {
      @apply p-0;
    }

  }

  #main-header {
    @apply py-5  my-0 relative justify-start items-center;

    > .aem-Grid {
      @apply h-full justify-start gap-y-0 px-0;
      grid-template-rows: 5rem 1fr;
    }

    &.open {
      #mobile-menu-header {
        @apply mb-0 bg-foreground z-10;
      }

      .button .cmp-button {
        background-image: url("../../resources/images/x-icon.png");
      }
    }

    .button {
      @apply w-8 h-20 self-center mx-4 flex items-center z-10 visible;

      .cmp-button {
        @apply bg-transparent rounded bg-no-repeat border-0 h-8 w-8 bg-center;
        background-image: url("../../resources/images/hamburger-menu.png");
      }
    }

    .image {


      .cmp-image__image {
        @apply max-h-12;
      }
    }
  }
}
