<!-- 
  Possible HTML structure for Button Component 
  Used as reference for Tailwind build
  https://www.aemcomponents.dev/content/core-components-examples/library/page-authoring/button.html
-->

<div
  class="button button--quiet button--background button--foreground cmp-button__icon--facebook cmp-button__icon--twitter cmp-button__icon--instagram cmp-button__icon--github"
>
  <button
    type="button"
    id="button-93a5672f17"
    class="cmp-button"
    data-cmp-clickable=""
    data-cmp-data-layer='{"button-93a5672f17":{"@type":"core-components-examples/components/button","repo:modifyDate":"2018-12-07T12:37:57Z","dc:title":"Button"}}'
  >
    <span class="cmp-button__text">Button</span>
  </button>
</div>

<div class="button">
  <a
    id="button-6a037d80be"
    class="cmp-button"
    href="/content/core-components-examples/library/page-authoring/button.html"
    data-cmp-clickable=""
    data-cmp-data-layer='{"button-6a037d80be":{"@type":"core-components-examples/components/button","repo:modifyDate":"2018-12-07T12:38:48Z","dc:title":"Anchor Button","xdm:linkURL":"/content/core-components-examples/library/page-authoring/button.html"}}'
  >
    <span class="cmp-button__text">Anchor Button</span>
  </a>
</div>

<div class="button">
  <button
    type="button"
    id="button-1d3ee49e15"
    class="cmp-button"
    data-cmp-clickable=""
    data-cmp-data-layer='{"button-1d3ee49e15":{"@type":"core-components-examples/components/button","repo:modifyDate":"2018-12-07T12:38:48Z","dc:title":"Contact Us"}}'
  >
    <span class="cmp-button__icon cmp-button__icon--email"></span>
    <span class="cmp-button__text">Contact Us</span>
  </button>
</div>
