<div class="teaser">
  <div
    id="teaser-61035a52f1"
    class="cmp-teaser"
    data-cmp-data-layer='{"teaser-61035a52f1":{"@type":"core-components-examples/components/teaser","dc:title":"Teaser Title","dc:description":"<p>Teaser Description</p>"}}'
  >
    <div class="cmp-teaser__content">
      <div class="cmp-teaser__pretitle">Pretitle</div>
      <h2 class="cmp-teaser__title">Teaser Title</h2>
      <div class="cmp-teaser__description">
        <p>Teaser Description</p>
      </div>
    </div>
  </div>
</div>

<div class="teaser">
  <div
    id="teaser-5c7e0ef90d"
    class="cmp-teaser"
    data-cmp-data-layer='{"teaser-5c7e0ef90d":{"@type":"core-components-examples/components/teaser","dc:title":"Teaser Title","dc:description":"<p>Teaser Description</p>"}}'
  >
    <div class="cmp-teaser__image">
      <div
        data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
        id="image-5c7e0ef90d"
        data-cmp-data-layer='{"image-5c7e0ef90d":{"@type":"core-components-examples/components/image","dc:title":"Lava flowing into the ocean","image":{"repo:id":"0f54e1b5-535b-45f7-a46b-35abb19dd6bc","repo:modifyDate":"1970-01-01T00:00:00Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"}}}'
        class="cmp-image"
        itemscope=""
        itemtype="http://schema.org/ImageObject"
      >
        <img
          src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1160408466/component/teaser.coreimg.jpeg"
          loading="lazy"
          class="cmp-image__image"
          itemprop="contentUrl"
          width="850"
          height="509"
          alt="Lava flowing into the ocean"
          title="Lava flowing into the ocean"
        />
        <meta itemprop="caption" content="Lava flowing into the ocean" />
      </div>
    </div>
    <div class="cmp-teaser__content">
      <div class="cmp-teaser__pretitle">Pretitle</div>
      <h2 class="cmp-teaser__title">Teaser Title</h2>
      <div class="cmp-teaser__description">
        <p>Teaser Description</p>
      </div>
    </div>
  </div>
</div>

<div class="teaser">
  <div
    id="teaser-c0294248db"
    class="cmp-teaser"
    data-cmp-data-layer='{"teaser-c0294248db":{"@type":"core-components-examples/components/teaser","dc:title":"Linked Teaser","dc:description":"<p>Teaser Description</p>","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
  >
    <div class="cmp-teaser__image">
      <div
        data-asset-id="c58c09f6-e382-4698-bfbd-e8c8d37712c8"
        id="image-c0294248db"
        data-cmp-data-layer='{"image-c0294248db":{"@type":"core-components-examples/components/image","dc:title":"Gray lava rock formation","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html","image":{"repo:id":"c58c09f6-e382-4698-bfbd-e8c8d37712c8","repo:modifyDate":"1970-01-01T00:00:00Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg"}}}'
        class="cmp-image"
        itemscope=""
        itemtype="http://schema.org/ImageObject"
      >
        <a
          class="cmp-image__link"
          data-cmp-clickable=""
          href="/content/core-components-examples/library/page-authoring/teaser.html"
        >
          <img
            src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1789748122/component/teaser.coreimg.jpeg"
            loading="lazy"
            class="cmp-image__image"
            itemprop="contentUrl"
            width="850"
            height="509"
            alt="Gray lava rock formation"
            title="Gray lava rock formation"
          />
        </a>
        <meta itemprop="caption" content="Gray lava rock formation" />
      </div>
    </div>
    <div class="cmp-teaser__content">
      <h2 class="cmp-teaser__title">
        <a
          class="cmp-teaser__title-link"
          data-cmp-clickable=""
          href="/content/core-components-examples/library/page-authoring/teaser.html"
          >Linked Teaser</a
        >
      </h2>
      <div class="cmp-teaser__description">
        <p>Teaser Description</p>
      </div>
    </div>
  </div>
</div>

<div class="teaser">
  <div
    id="teaser-83a73ada4e"
    class="cmp-teaser"
    data-cmp-data-layer='{"teaser-83a73ada4e":{"@type":"core-components-examples/components/teaser","dc:title":"Teaser Title","dc:description":"<p>Teaser Description</p>","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
  >
    <div class="cmp-teaser__image">
      <div
        data-asset-id="c0a39183-23f4-48f0-8db7-bb41ba2b0122"
        id="image-83a73ada4e"
        data-cmp-data-layer='{"image-83a73ada4e":{"@type":"core-components-examples/components/image","dc:title":"Aerial photo of mountain range","image":{"repo:id":"c0a39183-23f4-48f0-8db7-bb41ba2b0122","repo:modifyDate":"1970-01-01T00:00:00Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg"}}}'
        class="cmp-image"
        itemscope=""
        itemtype="http://schema.org/ImageObject"
      >
        <img
          src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1878698139/component/teaser.coreimg.jpeg"
          loading="lazy"
          class="cmp-image__image"
          itemprop="contentUrl"
          width="850"
          height="509"
          alt="Aerial photo of mountain range"
          title="Aerial photo of mountain range"
        />
        <meta itemprop="caption" content="Aerial photo of mountain range" />
      </div>
    </div>
    <div class="cmp-teaser__content">
      <h2 class="cmp-teaser__title">
        <a
          class="cmp-teaser__title-link"
          data-cmp-clickable=""
          href="/content/core-components-examples/library/page-authoring/teaser.html"
          >Teaser Title</a
        >
      </h2>
      <div class="cmp-teaser__description">
        <p>Teaser Description</p>
      </div>
      <div class="cmp-teaser__action-container">
        <a
          class="cmp-teaser__action-link"
          id="teaser-83a73ada4e-cta-ed267738cb"
          data-cmp-data-layer='{"teaser-83a73ada4e-cta-ed267738cb":{"@type":"core-components-examples/components/teaser/cta","dc:title":"Call To Action","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
          data-cmp-clickable=""
          href="/content/core-components-examples/library/page-authoring/teaser.html"
          >Call To Action</a
        >
      </div>
    </div>
  </div>
</div>

<div class="teaser">
  <div
    id="teaser-561632a539"
    class="cmp-teaser"
    data-cmp-data-layer='{"teaser-561632a539":{"@type":"core-components-examples/components/teaser","dc:title":"Teaser Title","dc:description":"<p>Teaser Description</p>","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
  >
    <div class="cmp-teaser__image">
      <div
        data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
        id="image-561632a539"
        data-cmp-data-layer='{"image-561632a539":{"@type":"core-components-examples/components/image","dc:title":"Snowy mountain glacier","image":{"repo:id":"45c6ee92-90e1-4af2-af69-b6dcbc7daeb7","repo:modifyDate":"1970-01-01T00:00:00Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg"}}}'
        class="cmp-image"
        itemscope=""
        itemtype="http://schema.org/ImageObject"
      >
        <img
          src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1581767054/component/teaser_2781767054.coreimg.jpeg"
          loading="lazy"
          class="cmp-image__image"
          itemprop="contentUrl"
          width="850"
          height="509"
          alt="Snowy mountain glacier"
          title="Snowy mountain glacier"
        />
        <meta itemprop="caption" content="Snowy mountain glacier" />
      </div>
    </div>
    <div class="cmp-teaser__content">
      <h2 class="cmp-teaser__title">
        <a
          class="cmp-teaser__title-link"
          data-cmp-clickable=""
          href="/content/core-components-examples/library/page-authoring/teaser.html"
          >Teaser Title</a
        >
      </h2>
      <div class="cmp-teaser__description">
        <p>Teaser Description</p>
      </div>
      <div class="cmp-teaser__action-container">
        <a
          class="cmp-teaser__action-link"
          id="teaser-561632a539-cta-d939c6ba30"
          data-cmp-data-layer='{"teaser-561632a539-cta-d939c6ba30":{"@type":"core-components-examples/components/teaser/cta","dc:title":"Call To Action","xdm:linkURL":"/content/core-components-examples/library/page-authoring/teaser.html"}}'
          data-cmp-clickable=""
          href="/content/core-components-examples/library/page-authoring/teaser.html"
          >Call To Action</a
        >
        <a
          class="cmp-teaser__action-link"
          id="teaser-561632a539-cta-2e27cc6ee5"
          data-cmp-data-layer='{"teaser-561632a539-cta-2e27cc6ee5":{"@type":"core-components-examples/components/teaser/cta","dc:title":"Call To Action","xdm:linkURL":"/content/core-components-examples/library.html"}}'
          data-cmp-clickable=""
          href="/content/core-components-examples/library.html"
          >Call To Action</a
        >
      </div>
    </div>
  </div>
</div>

<div class="teaser teaser--text-bottom">
  <div
    id="teaser-efcb7219a9"
    class="cmp-teaser"
    data-cmp-data-layer='{"teaser-efcb7219a9":{"@type":"core-components-examples/components/teaser","dc:title":"Image","dc:description":"Display an image asset","xdm:linkURL":"/content/core-components-examples/library/page-authoring/image.html"}}'
  >
    <div class="cmp-teaser__image">
      <div
        data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
        id="image-efcb7219a9"
        data-cmp-data-layer='{"image-efcb7219a9":{"@type":"core-components-examples/components/image","xdm:linkURL":"/content/core-components-examples/library/page-authoring/image.html","image":{"repo:id":"0f54e1b5-535b-45f7-a46b-35abb19dd6bc","repo:modifyDate":"1970-01-01T00:00:00Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"}}}'
        class="cmp-image"
        itemscope=""
        itemtype="http://schema.org/ImageObject"
      >
        <a
          class="cmp-image__link"
          data-cmp-clickable=""
          href="/content/core-components-examples/library/page-authoring/image.html"
        >
          <img
            src="/content/core-components-examples/library/page-authoring/teaser/_jcr_content/root/responsivegrid/demo_1257101605/component/teaser.coreimg.jpeg"
            loading="lazy"
            class="cmp-image__image"
            itemprop="contentUrl"
            width="850"
            height="509"
            alt="Lava flowing into the ocean"
          />
        </a>
      </div>
    </div>
    <div class="cmp-teaser__content">
      <h2 class="cmp-teaser__title">
        <a
          class="cmp-teaser__title-link"
          data-cmp-clickable=""
          href="/content/core-components-examples/library/page-authoring/image.html"
          >Image</a
        >
      </h2>
      <div class="cmp-teaser__description">Display an image asset</div>
    </div>
  </div>
</div>
