@layer utilities {
  .teaser--text-overlay {
    .cmp-teaser {
      @apply grid default:aspect-4/1;
      grid-template-areas: "overlay";
    }
    .cmp-teaser__content {
      @apply text-foreground;
    }

    .cmp-teaser.cq-dd-image .cmp-teaser__content {
      @apply text-background;
      @apply dark:text-foreground;

      .cmp-teaser__action-link:not(:first-child) {
        @apply border-background text-background;
        @apply hover:border-background hover:bg-background hover:text-shade-4;
        @apply focus:border-focus focus:bg-background focus:text-shade-4 focus:ring-0;

        @apply dark:border-foreground dark:text-foreground;
        @apply dark:hover:border-foreground dark:hover:text-shade-4 dark:hover:bg-foreground;
        @apply dark:focus:border-focus dark:focus:text-shade-4 dark:focus:bg-foreground;
      }
    }

    .cmp-teaser__image,
    .cmp-teaser__content {
      grid-area: overlay;
    }

    .cmp-teaser__image {
      @apply min-h-full;

      .cmp-image {
        @apply h-full;

        .cmp-image__image {
          @apply h-full object-cover;
        }
      }
    }

    .cmp-teaser__content {
      @apply justify-center gap-y-6 place-self-center p-10 text-center;
      max-width: var(--aem-grid-max-width, 60rem);

      .cmp-teaser__pretitle,
      .cmp-teaser__title,
      .cmp-teaser__title a {
        @apply text-inherit;
        @apply focus:ring-offset-transparent;

        @apply dark:text-inherit;
      }

      .cmp-teaser__title {
        @apply font-serif;
      }

      .cmp-teaser__action-container {
        @apply justify-center;
      }
    }

    .cmp-teaser__action-link {
      &:not(:first-child) {
        @apply border-shade-4 text-shade-4;
        @apply hover:border-shade-4 hover:bg-shade-4 hover:text-background;
        @apply focus:border-focus focus:bg-shade-4 focus:text-background focus:ring-0;

        @apply dark:border-link dark:text-link;
        @apply dark:hover:bg-link dark:hover:text-background;
        @apply dark:focus:border-background dark:focus:bg-link dark:focus:text-background;
      }

      &:first-child {
        @apply focus:border-transparent focus:ring-focus focus:ring-offset-transparent;
      }
    }
  }
}
