.cmp-search__field {
  @apply relative flex h-[2.5em] flex-row items-center justify-between overflow-hidden rounded py-2 px-3;
}

.cmp-search__input {
  @apply absolute inset-0 rounded border-2 border-shade-1 bg-shade-1 pl-9 text-foreground transition-colors duration-200;
  @apply hover:bg-background;
  @apply focus:border-focus focus:bg-background focus:text-foreground focus:outline-none;

  &::placeholder {
    @apply text-shade-3;
    @apply dark:text-foreground;
  }
  &:active {
    @apply border-focus bg-background text-foreground outline-none;
  }
}

.cmp-search__loading-indicator,
.cmp-search__icon,
.cmp-search__clear-icon {
  @apply relative top-[unset] left-[unset] right-[unset] z-10;
}

.cmp-search__loading-indicator[aria-hidden="false"],
.cmp-search__icon[aria-hidden="false"],
.cmp-search__clear[aria-hidden="false"] .cmp-search__clear-icon {
  @apply block;
}
