/*== XF Footer style, used on page template */
#main-footer {
  @apply py-4;

  .cmp-container > .aem-Grid {
    @apply items-center;
  }

  .title {
    @apply flex justify-center items-center;
  }
}

@screen phone {
  #main-footer {
    & > .aem-Grid {
      @apply justify-center items-center gap-x-0;
      grid-template-areas:
        "separator separator"
        "logo logo"
        "copyright copyright"
        "terms privacy";
      grid-template-rows: auto 3rem auto auto;
      grid-template-columns: 1fr 1fr;
    }

    .image {
      @apply self-center justify-self-center max-w-[13rem];
    }

    .text {
      &:not(:last-child) {
        @apply m-0 justify-end flex pr-4;
        grid-area: terms;
      }

      &:last-child {
        @apply justify-start pl-4;
        grid-area: privacy;
      }
    }
  }
}
