# Created by https://www.gitignore.io/api/eclipse,java,maven

node/
node_modules/
npm-debug.log
dist/

.parcel-cache
.env

### BackstopJS Files ###
test_data/bitmaps_reference/
test_data/bitmaps_test/
test_data/html_report/