.cmp-form-text {
  @apply flex flex-col gap-y-2;
}

.cmp-form-text__help-block {
}
.cmp-form-text__textarea,
.cmp-form-text__text {
  @apply rounded bg-shade-1 border-2 border-shade-1 transition-colors duration-200 font-sans;
  @apply hover:bg-white;
  @apply focus:text-foreground focus:border-accent;
}
