@layer base {
  .page > .root > .cmp-container {
    @apply grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

  .aem-AuthorLayer-Preview.aem-Author--hidePlaceholder,
  .aem-AuthorLayer-Edit {
    .page > .root > .cmp-container {
      @apply grid;
      grid-template-rows: auto 1fr auto;
      min-height: auto;
    }
  }
}
