<!-- 
  Possible HTML structure for Container Component 
  Used as reference for Tailwind build
  https://www.aemcomponents.dev/content/core-components-examples/library/container/container.html
-->

<div class="container responsivegrid new newpar">
  <div id="container-275dd8e1f8" class="cmp-container">
    <div class="title">
      <div
        data-cmp-data-layer='{"title-8920e7073a":{"@type":"core-components-examples/components/title","repo:modifyDate":"2019-06-11T17:44:18Z","dc:title":"Lorem Ipsum"}}'
        id="title-8920e7073a"
        class="cmp-title"
      >
        <h3 class="cmp-title__text">Lorem Ipsum</h3>
      </div>
    </div>
    <div class="text">
      <div
        data-cmp-data-layer='{"text-635c878ca1":{"@type":"core-components-examples/components/text","xdm:text":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>\r\n"}}'
        id="text-635c878ca1"
        class="cmp-text"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi
          bibendum neque egestas congue quisque egestas. Varius morbi enim nunc
          faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate
          sapien nec sagittis.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container responsivegrid">
  <div id="container-bab66e96fe" class="cmp-container">
    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
      <div
        class="text aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--1 aem-GridColumn--default--2 aem-GridColumn--default--3 aem-GridColumn--default--4 aem-GridColumn--default--5 aem-GridColumn--default--6 aem-GridColumn--default--7 aem-GridColumn--default--8 aem-GridColumn--default--9 aem-GridColumn--default--10 aem-GridColumn--default--11 aem-GridColumn--default--12 aem-GridColumn--offset--default--0 aem-GridColumn--offset--default--1 aem-GridColumn--offset--default--2 aem-GridColumn--offset--default--3 aem-GridColumn--offset--default--4 aem-GridColumn--offset--default--5 aem-GridColumn--offset--default--6 aem-GridColumn--offset--default--7 aem-GridColumn--offset--default--8 aem-GridColumn--offset--default--9 aem-GridColumn--offset--default--10 aem-GridColumn--offset--default--11"
      >
        <div
          data-cmp-data-layer='{"text-ffbb03c51b":{"@type":"core-components-examples/components/text","xdm:text":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>\r\n"}}'
          id="text-ffbb03c51b"
          class="cmp-text"
        >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi
            bibendum neque egestas congue quisque egestas. Varius morbi enim
            nunc faucibus a pellentesque. Scelerisque eleifend donec pretium
            vulputate sapien nec sagittis.
          </p>
        </div>
      </div>
      <div
        class="image aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0"
      >
        <div
          data-cmp-lazythreshold="0"
          data-cmp-src="/content/core-components-examples/library/container/container/_jcr_content/root/responsivegrid/demo_975671829/component/container/image.coreimg{.width}.jpeg/1560274820735/snowy-mountain-glacier.jpeg"
          data-asset="/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg"
          data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
          data-title="Snowy mountain glacier"
          id="image-066a48972a"
          data-cmp-data-layer='{"image-066a48972a":{"@type":"core-components-examples/components/image","repo:modifyDate":"2019-06-11T17:40:20Z","dc:title":"Snowy mountain glacier","image":{"repo:id":"45c6ee92-90e1-4af2-af69-b6dcbc7daeb7","repo:modifyDate":"2019-02-20T14:21:37Z","@type":"image/jpeg","repo:path":"/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg","xdm:tags":[],"xdm:smartTags":{}}}}'
          class="cmp-image"
          itemscope=""
          itemtype="http://schema.org/ImageObject"
        >
          <img
            src="/content/core-components-examples/library/container/container/_jcr_content/root/responsivegrid/demo_975671829/component/container/image.coreimg.jpeg/1560274820735/snowy-mountain-glacier.jpeg"
            class="cmp-image__image"
            itemprop="contentUrl"
            data-cmp-hook-image="image"
            alt="Snowy mountain glacier"
            title="Snowy mountain glacier"
          />
          <meta itemprop="caption" content="Snowy mountain glacier" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container responsivegrid">
  <div
    id="container-eeae0a3fb9"
    class="cmp-container"
    style="background-color: rgba(255, 133, 27, 0.25)"
  >
    <div class="title">
      <div
        data-cmp-data-layer='{"title-03d5caa475":{"@type":"core-components-examples/components/title","repo:modifyDate":"2019-06-11T17:44:42Z","dc:title":"Lorem Ipsum"}}'
        id="title-03d5caa475"
        class="cmp-title"
      >
        <h3 class="cmp-title__text">Lorem Ipsum</h3>
      </div>
    </div>
    <div class="text">
      <div
        data-cmp-data-layer='{"text-f24e0f60b7":{"@type":"core-components-examples/components/text","xdm:text":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>\r\n"}}'
        id="text-f24e0f60b7"
        class="cmp-text"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi
          bibendum neque egestas congue quisque egestas. Varius morbi enim nunc
          faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate
          sapien nec sagittis.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container responsivegrid">
  <div
    id="container-930528f698"
    class="cmp-container"
    style="
      background-image: url(\2f content\2f dam\2f core-components-examples\2flibrary\2fsample-assets\2fsnowy-mountain-glacier.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
    <div class="title">
      <div
        data-cmp-data-layer='{"title-1be658ff0e":{"@type":"core-components-examples/components/title","repo:modifyDate":"2019-06-11T17:45:17Z","dc:title":"Lorem Ipsum"}}'
        id="title-1be658ff0e"
        class="cmp-title"
      >
        <h3 class="cmp-title__text">Lorem Ipsum</h3>
      </div>
    </div>
    <div class="text">
      <div
        data-cmp-data-layer='{"text-f2110b822b":{"@type":"core-components-examples/components/text","xdm:text":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>\r\n"}}'
        id="text-f2110b822b"
        class="cmp-text"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi
          bibendum neque egestas congue quisque egestas. Varius morbi enim nunc
          faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate
          sapien nec sagittis.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container responsivegrid">
  <div
    id="container-39c6683d5f"
    class="cmp-container"
    style="
      background-image: url(\2f content\2f dam\2f core-components-examples\2flibrary\2fsample-assets\2flava-into-ocean.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #39cccc;
    "
  >
    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
      <div class="title aem-GridColumn aem-GridColumn--default--12">
        <div
          data-cmp-data-layer='{"title-bb335a88c9":{"@type":"core-components-examples/components/title","repo:modifyDate":"2019-06-11T17:47:48Z","dc:title":"Lorem Ipsum"}}'
          id="title-bb335a88c9"
          class="cmp-title"
        >
          <h3 class="cmp-title__text">Lorem Ipsum</h3>
        </div>
      </div>
      <div class="text aem-GridColumn aem-GridColumn--default--12">
        <div
          data-cmp-data-layer='{"text-ad0bcbf737":{"@type":"core-components-examples/components/text","xdm:text":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>\n"}}'
          id="text-ad0bcbf737"
          class="cmp-text"
        >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi
            bibendum neque egestas congue quisque egestas. Varius morbi enim
            nunc faucibus a pellentesque. Scelerisque eleifend donec pretium
            vulputate sapien nec sagittis.
          </p>
        </div>
      </div>
      <div
        class="container responsivegrid aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0"
      >
        <div
          id="container-ad9ce2a65d"
          class="cmp-container"
          style="background-color: rgba(255, 133, 27, 0.75)"
        >
          <div class="aem-Grid aem-Grid--6 aem-Grid--default--6">
            <div class="title aem-GridColumn aem-GridColumn--default--6">
              <div
                data-cmp-data-layer='{"title-bfd588181c":{"@type":"core-components-examples/components/title","repo:modifyDate":"2019-06-11T17:47:25Z","dc:title":"Hac Habitasse"}}'
                id="title-bfd588181c"
                class="cmp-title"
              >
                <h4 class="cmp-title__text">Hac Habitasse</h4>
              </div>
            </div>
            <div class="text aem-GridColumn aem-GridColumn--default--6">
              <div
                data-cmp-data-layer='{"text-390c0ed4d8":{"@type":"core-components-examples/components/text","repo:modifyDate":"2019-06-11T17:49:05Z","xdm:text":"<p>Hac habitasse platea dictumst quisque sagittis purus. At risus viverra adipiscing at in tellus integer. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Leo vel orci porta non pulvinar neque laoreet suspendisse. Volutpat diam ut venenatis tellus in metus vulputate eu.</p>\n"}}'
                id="text-390c0ed4d8"
                class="cmp-text"
              >
                <p>
                  Hac habitasse platea dictumst quisque sagittis purus. At risus
                  viverra adipiscing at in tellus integer. Sit amet consectetur
                  adipiscing elit duis tristique sollicitudin. Leo vel orci
                  porta non pulvinar neque laoreet suspendisse. Volutpat diam ut
                  venenatis tellus in metus vulputate eu.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="container responsivegrid aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0"
      >
        <div
          id="container-dc0960139a"
          class="cmp-container"
          style="background-color: rgba(127, 219, 255, 0.5)"
        >
          <div class="aem-Grid aem-Grid--6 aem-Grid--default--6">
            <div class="title aem-GridColumn aem-GridColumn--default--6">
              <div
                data-cmp-data-layer='{"title-6ff30316ee":{"@type":"core-components-examples/components/title","repo:modifyDate":"2019-06-11T17:47:32Z","dc:title":"Libero Id Faucibus"}}'
                id="title-6ff30316ee"
                class="cmp-title"
              >
                <h4 class="cmp-title__text">Libero Id Faucibus</h4>
              </div>
            </div>
            <div class="text aem-GridColumn aem-GridColumn--default--6">
              <div
                data-cmp-data-layer='{"text-f9d1a8505f":{"@type":"core-components-examples/components/text","repo:modifyDate":"2019-06-11T17:49:47Z","xdm:text":"<p>Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt.</p>\n"}}'
                id="text-f9d1a8505f"
                class="cmp-text"
              >
                <p>
                  Libero id faucibus nisl tincidunt eget nullam non nisi. Hac
                  habitasse platea dictumst vestibulum. Viverra orci sagittis eu
                  volutpat odio facilisis mauris. Velit aliquet sagittis id
                  consectetur purus ut. Orci phasellus egestas tellus rutrum
                  tellus pellentesque eu tincidunt.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
