.cmp-accordion__button {
  @apply flex flex-row items-center justify-between border-b-1 border-b-shade-2 p-4 font-sans text-base font-semibold text-shade-3;
  @apply hover:border-b-shade-4 hover:text-foreground;
  @apply focus:rounded focus:border-b-transparent focus:text-foreground focus:outline-none focus:ring-2 focus:ring-focus;
  @apply dark:text-link;
  @apply dark:hover:border-b-link dark:hover:text-foreground;
  @apply dark:focus:text-foreground;
}

.cmp-accordion__panel {
  @apply p-4;
}

.cmp-accordion__icon {
  @apply block h-5 w-5 bg-shade-3 bg-no-repeat transition-transform duration-200;
  mask-size: 1.25rem;
  mask-repeat: no-repeat;
  mask-position: right;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmEsLmJ7ZmlsbDojNjA3ZDhiO30uYXtvcGFjaXR5OjA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01NjUgLTgwKSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTY1IDgwKSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNLjI5MywxMy4wMjFhMSwxLDAsMCwxLDAtMS40MTRsNC45NS00Ljk1TC4yOTMsMS43MDdBMSwxLDAsMCwxLDEuNzA3LjI5M0w3LjM2NCw1Ljk1YTEsMSwwLDAsMSwwLDEuNDE1TDEuNzA3LDEzLjAyMWExLDEsMCwwLDEtMS40MTUsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU4My44MjkgODguMTcxKSByb3RhdGUoOTApIi8+PC9nPjwvc3ZnPg==");
  @apply dark:bg-link;
  @apply dark:hover:bg-foreground;
  @apply dark:focus:bg-foreground;
}

.cmp-accordion__button:focus .cmp-accordion__icon,
.cmp-accordion__button:hover .cmp-accordion__icon {
  @apply bg-foreground;
}

.cmp-accordion__button--expanded .cmp-accordion__icon {
  @apply rotate-180;
}
