<!-- 
  Possible HTML structure for Breadcrumb Component 
  Used as reference for Tailwind build
  https://www.aemcomponents.dev/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html
-->

<div class="breadcrumb breadcrumb--secondary breadcrumb--uppercase">
  <nav
    id="breadcrumb-b2f8c70662"
    class="cmp-breadcrumb"
    aria-label="Breadcrumb"
    data-cmp-data-layer='{"breadcrumb-b2f8c70662":{"@type":"core-components-examples/components/breadcrumb","repo:modifyDate":"2019-05-21T07:21:29Z"}}'
  >
    <ol
      class="cmp-breadcrumb__list"
      itemscope=""
      itemtype="http://schema.org/BreadcrumbList"
    >
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-b2f8c70662-item-9bee4d4454":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2019-12-20T18:35:24Z","dc:title":"Component Library","xdm:linkURL":"/content/core-components-examples/library.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Component Library</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-b2f8c70662-item-1d32a567a9":{"@type":"core-components-examples/components/breadcrumb/item","dc:title":"Templating","xdm:linkURL":"/content/core-components-examples/library/templating.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Templating</span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-b2f8c70662-item-35671d6884":{"@type":"core-components-examples/components/breadcrumb/item","dc:title":"Breadcrumb","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Breadcrumb</span>
        </a>
        <meta itemprop="position" content="3" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-b2f8c70662-item-eae3a9359d":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"Level 1","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Level 1</span>
        </a>
        <meta itemprop="position" content="4" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-b2f8c70662-item-4ece1d42cb":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"Level 2","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Level 2</span>
        </a>
        <meta itemprop="position" content="5" />
      </li>
      <li
        class="cmp-breadcrumb__item cmp-breadcrumb__item--active"
        data-cmp-data-layer='{"breadcrumb-b2f8c70662-item-654f395665":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"Breadcrumb","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <span itemprop="name">Breadcrumb</span>
        <meta itemprop="position" content="6" />
      </li>
    </ol>
  </nav>
</div>

<div class="breadcrumb">
  <nav
    id="breadcrumb-e670748b1f"
    class="cmp-breadcrumb"
    aria-label="Breadcrumb"
    data-cmp-data-layer='{"breadcrumb-e670748b1f":{"@type":"core-components-examples/components/breadcrumb","repo:modifyDate":"2019-05-21T07:21:36Z"}}'
  >
    <ol
      class="cmp-breadcrumb__list"
      itemscope=""
      itemtype="http://schema.org/BreadcrumbList"
    >
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-e670748b1f-item-1d32a567a9":{"@type":"core-components-examples/components/breadcrumb/item","dc:title":"Templating","xdm:linkURL":"/content/core-components-examples/library/templating.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Templating</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-e670748b1f-item-35671d6884":{"@type":"core-components-examples/components/breadcrumb/item","dc:title":"Breadcrumb","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Breadcrumb</span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-e670748b1f-item-eae3a9359d":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"Level 1","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Level 1</span>
        </a>
        <meta itemprop="position" content="3" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-e670748b1f-item-4ece1d42cb":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"Level 2","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Level 2</span>
        </a>
        <meta itemprop="position" content="4" />
      </li>
      <li
        class="cmp-breadcrumb__item cmp-breadcrumb__item--active"
        data-cmp-data-layer='{"breadcrumb-e670748b1f-item-654f395665":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"Breadcrumb","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <span itemprop="name">Breadcrumb</span>
        <meta itemprop="position" content="5" />
      </li>
    </ol>
  </nav>
</div>

<div class="breadcrumb">
  <nav
    id="breadcrumb-065f714c4a"
    class="cmp-breadcrumb"
    aria-label="Breadcrumb"
    data-cmp-data-layer='{"breadcrumb-065f714c4a":{"@type":"core-components-examples/components/breadcrumb","repo:modifyDate":"2019-05-21T07:22:19Z"}}'
  >
    <ol
      class="cmp-breadcrumb__list"
      itemscope=""
      itemtype="http://schema.org/BreadcrumbList"
    >
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-065f714c4a-item-9bee4d4454":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2019-12-20T18:35:24Z","dc:title":"Component Library","xdm:linkURL":"/content/core-components-examples/library.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Component Library</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-065f714c4a-item-1d32a567a9":{"@type":"core-components-examples/components/breadcrumb/item","dc:title":"Templating","xdm:linkURL":"/content/core-components-examples/library/templating.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Templating</span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-065f714c4a-item-35671d6884":{"@type":"core-components-examples/components/breadcrumb/item","dc:title":"Breadcrumb","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Breadcrumb</span>
        </a>
        <meta itemprop="position" content="3" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-065f714c4a-item-a11728d7a6":{"@type":"core-components-examples/components/breadcrumb/item","dc:title":"Hidden","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating/breadcrumb/hidden.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Hidden</span>
        </a>
        <meta itemprop="position" content="4" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-065f714c4a-item-eae3a9359d":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"Level 1","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Level 1</span>
        </a>
        <meta itemprop="position" content="5" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-065f714c4a-item-4ece1d42cb":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"Level 2","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Level 2</span>
        </a>
        <meta itemprop="position" content="6" />
      </li>
      <li
        class="cmp-breadcrumb__item cmp-breadcrumb__item--active"
        data-cmp-data-layer='{"breadcrumb-065f714c4a-item-654f395665":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"Breadcrumb","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <span itemprop="name">Breadcrumb</span>
        <meta itemprop="position" content="7" />
      </li>
    </ol>
  </nav>
</div>

<div class="breadcrumb">
  <nav
    id="breadcrumb-0b805437b4"
    class="cmp-breadcrumb"
    aria-label="Breadcrumb"
    data-cmp-data-layer='{"breadcrumb-0b805437b4":{"@type":"core-components-examples/components/breadcrumb","repo:modifyDate":"2019-05-21T12:14:14Z"}}'
  >
    <ol
      class="cmp-breadcrumb__list"
      itemscope=""
      itemtype="http://schema.org/BreadcrumbList"
    >
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-0b805437b4-item-9bee4d4454":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2019-12-20T18:35:24Z","dc:title":"Component Library","xdm:linkURL":"/content/core-components-examples/library.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Component Library</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-0b805437b4-item-1d32a567a9":{"@type":"core-components-examples/components/breadcrumb/item","dc:title":"Templating","xdm:linkURL":"/content/core-components-examples/library/templating.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Templating</span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-0b805437b4-item-35671d6884":{"@type":"core-components-examples/components/breadcrumb/item","dc:title":"Breadcrumb","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Breadcrumb</span>
        </a>
        <meta itemprop="position" content="3" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-0b805437b4-item-eae3a9359d":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"Level 1","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Level 1</span>
        </a>
        <meta itemprop="position" content="4" />
      </li>
      <li
        class="cmp-breadcrumb__item"
        data-cmp-data-layer='{"breadcrumb-0b805437b4-item-4ece1d42cb":{"@type":"core-components-examples/components/breadcrumb/item","repo:modifyDate":"2020-01-16T15:15:29Z","dc:title":"Level 2","xdm:linkURL":"/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html"}}'
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        <a
          href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2.html"
          class="cmp-breadcrumb__item-link"
          itemprop="item"
          data-cmp-clickable=""
        >
          <span itemprop="name">Level 2</span>
        </a>
        <meta itemprop="position" content="5" />
      </li>
    </ol>
  </nav>
</div>
