.cmp-navigation {}
.cmp-navigation__group {
  @apply flex flex-row gap-x-2;

  .cmp-navigation__group {
    @apply absolute w-full bg-background border-2 border-shade-2 shadow-md rounded-md overflow-hidden delay-75 opacity-0 -translate-y-2 flex flex-col z-10;
    width: max-content;
    transition: transform 250ms, opacity 100ms, visibility 50ms;
    visibility: collapse;

    .cmp-navigation__item-link {
      @apply rounded-none flex-1 w-full;
      @apply hover:no-underline;
      @apply focus:ring-0;
    }

    .cmp-navigation__item--level-1:not(.cmp-navigation__item--active) > .cmp-navigation__item-link {
      @apply border-2 border-white;
      @apply hover:bg-shade-1 hover:border-shade-1;
      @apply focus:border-accent;
    }
  }
}

.cmp-navigation__item-link {
  @apply px-4 py-2 rounded inline-flex text-shade-3 font-semibold;
  @apply hover:text-shade-4;
  @apply focus:ring-accent focus:text-shade-4;
}

.cmp-navigation__item {}
.cmp-navigation__item--active > .cmp-navigation__item-link {
  @apply bg-accent text-white;
  @apply hover:bg-accent hover:text-white;
}

.cmp-navigation__item--level-0:hover .cmp-navigation__group,
.cmp-navigation__item--level-0 .cmp-navigation__item-link:hover + .cmp-navigation__group {
  @apply visible translate-y-0 opacity-100;
}

.cmp-navigation__item-link {}

/*
.cmp-navigation {
  @apply h-10 mr-2 ml-10;
}

.cmp-navigation__group {
  @apply flex flex-row m-0 p-0 list-none;
}
.cmp-navigation__item--level-0 {
  @apply relative inline-flex ml-2;
  & > a {
    @apply pt-2 pb-3 px-4;
  }
  &:hover {
    & > .cmp-navigation__item-link {
      @apply text-foreground;
    }
  }
  &:focus {
    @apply outline-none rounded border border-accent-lighter;
    .cmp-navigation__item-link {
      @apply text-foreground;
      @apply dark:text-white;
    }
  }
  & > .cmp-navigation__group {
    @apply absolute top-[2.8em] z-[1] grid py-1 px-0 w-max overflow-hidden bg-background delay-500 shadow-shadow border-shade-2 border;
    visibility: collapse;
  }
}
.cmp-navigation__item--level-0:nth-child(2) {
  &:after {
    @apply inline-block w-6 h-6 m-2 ml-0 bg-shade-2 pointer-events-none;
    content: '';
    mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmEsLmJ7ZmlsbDojNjA3ZDhiO30uYXtvcGFjaXR5OjA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01NjUgLTgwKSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTY1IDgwKSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNLjI5MywxMy4wMjFhMSwxLDAsMCwxLDAtMS40MTRsNC45NS00Ljk1TC4yOTMsMS43MDdBMSwxLDAsMCwxLDEuNzA3LjI5M0w3LjM2NCw1Ljk1YTEsMSwwLDAsMSwwLDEuNDE1TDEuNzA3LDEzLjAyMWExLDEsMCwwLDEtMS40MTUsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU4My44MjkgODguMTcxKSByb3RhdGUoOTApIi8+PC9nPjwvc3ZnPg==');
    mask-size: cover;
  }
  &:hover {
    & > .cmp-navigation__group {
      @apply visible;
    }
    &:after {
      @apply bg-shade-3;
      mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmEsLmJ7ZmlsbDojNjA3ZDhiO30uYXtvcGFjaXR5OjA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01MjUgLTgwKSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTI1IDgwKSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNLjI5MywxMy4wMjFhMSwxLDAsMCwxLDAtMS40MTVsNC45NS00Ljk1TC4yOTMsMS43MDdBMSwxLDAsMCwxLDEuNzA3LjI5M0w3LjM2NCw1Ljk1YTEsMSwwLDAsMSwwLDEuNDE0TDEuNzA3LDEzLjAyMWExLDEsMCwwLDEtMS40MTUsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUzMC41MTUgOTUuODI4KSByb3RhdGUoLTkwKSIvPjwvZz48L3N2Zz4=');
    }
  }
  & .cmp-navigation__group .cmp-navigation__item {
    @apply pt-2 pb-3 pr-8 pl-4;
    &:hover {
      @apply bg-shade-1;
      & a {
        @apply text-foreground;
        @apply dark:text-white;
      }
    }
  }
}
.cmp-navigation__item-link {
  @apply block text-shade-4 no-underline;
  @apply dark:text-white;
}
*/