.cmp-navigation {}
.cmp-navigation__group {
  @apply flex flex-row gap-x-2;

  .cmp-navigation__group {
    @apply absolute w-full bg-background border-2 border-shade-2 shadow-md rounded-md overflow-hidden delay-75 opacity-0 -translate-y-2 flex flex-col z-10;
    width: max-content;
    transition: transform 250ms, opacity 100ms, visibility 50ms;
    visibility: collapse;

    .cmp-navigation__item-link {
      @apply rounded-none flex-1 w-full;
      @apply hover:no-underline;
      @apply focus:ring-0;
    }

    .cmp-navigation__item--level-1:not(.cmp-navigation__item--active) > .cmp-navigation__item-link {
      @apply border-2 border-white;
      @apply hover:bg-shade-1 hover:border-shade-1;
      @apply focus:border-accent;
    }
  }
}

.cmp-navigation__item-link {
  @apply px-4 py-2 rounded inline-flex text-shade-3 font-semibold;
  @apply hover:text-shade-4;
  @apply focus:ring-accent focus:text-shade-4;
}

.cmp-navigation__item {}
.cmp-navigation__item--active > .cmp-navigation__item-link {
  @apply bg-accent text-white;
  @apply hover:bg-accent hover:text-white;
}

.cmp-navigation__item--level-0:hover .cmp-navigation__group,
.cmp-navigation__item--level-0 .cmp-navigation__item-link:hover + .cmp-navigation__group {
  @apply visible translate-y-0 opacity-100;
}
