.teaser:not(.teaser--text-bottom):not(.teaser--text-right):not(.teaser--text-left):not(.teaser--overlay):not(.teaser--mini) {
  .cmp-teaser {
    @apply flex flex-col overflow-y-hidden;
    max-height: 680px;
  }

  .cmp-teaser__content {
    @apply bg-background py-4 px-7 items-start max-w-6xl w-full -mt-52;

    p {
      text-align: left;
    }
  }

  .cmp-teaser__image {
    @apply w-full;
    flex: 1;
    min-height: 400px;

    .cmp-image {
      @apply w-full h-full block;

      .cmp-image__image {
        @apply object-center h-full w-full object-cover;
      }
    }
  }

  .cmp-teaser__content {
    @apply text-center justify-center text-background gap-y-6 place-self-center;
    max-width: var(--aem-grid-max-width, 60rem);

    @apply dark:text-foreground;

    .cmp-teaser__pretitle,
    .cmp-teaser__title,
    .cmp-teaser__title a {
      @apply text-background;
      @apply focus:ring-offset-transparent;

      @apply dark:text-foreground;
    }

    .cmp-teaser__title {
      @apply font-serif;
    }

    .cmp-teaser__action-container {
      @apply justify-center;
    }
  }

  .cmp-teaser__action-link {
    &:not(:first-child) {
      @apply border-background text-background;
      @apply hover:bg-background hover:text-shade-4 hover:border-background;
      @apply focus:bg-background focus:text-shade-4 focus:border-focus focus:ring-0;

      @apply dark:text-foreground dark:border-foreground;
      @apply dark:hover:text-foreground dark:hover:border-background;
      @apply dark:focus:text-foreground dark:focus:border-focus;
    }

    &:first-child {
      @apply focus:ring-offset-transparent focus:border-transparent focus:ring-focus;
    }
  }
}
