@layer utilities {
  .teaser--overlay {
    .cmp-teaser {
      @apply grid default:aspect-4/1;
      grid-template-areas: "overlay";
    }

    .cmp-teaser__image,
    .cmp-teaser__content {
      grid-area: overlay;
    }

    .cmp-teaser__content:only-child {
      @apply bg-foreground;
    }

    .cmp-teaser__action-link:not(:first-child) {
      @apply border-background text-background;
      @apply hover:border-foreground hover:text-foreground hover:bg-background;
      @apply focus:border-foreground focus:text-foreground focus:bg-background;
    }

    .cmp-teaser__image {
      @apply min-h-full;

      .cmp-image {
        @apply h-full;

        .cmp-image__image {
          @apply object-cover h-full;
        }
      }
    }

    .cmp-teaser__content {
      @apply p-10 text-center justify-center text-background gap-y-6 place-self-center;
      max-width: var(--aem-grid-max-width, 60rem);

      .cmp-teaser__pretitle,
      .cmp-teaser__title,
      .cmp-teaser__title a {
        @apply text-background;
        @apply focus:ring-offset-transparent;
      }

      .cmp-teaser__title {
        @apply font-serif;
      }

      .cmp-teaser__action-container {
        @apply justify-center;
      }
    }
  }
}
